<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/smriti-profile.jpg">
        </div>
        <h1>{{ title }}</h1>
    </div>
    <section class="about">
        <h2 class="about-title">About Me</h2>
        <div class="about-container">
          <p>
            Hi! I'm Smriti, a student at UC Berkeley studying Data Science and Computer Science. At Berkeley, I'm involved in the Mock Trial Team as an attorney and a member of Women in Computing and Data Science. I'm part of the META and MLH Summer Production Engineering Fellowship, where I'm deepening my skills in systems and infrastructure. I’m passionate about building robust, real-world tech solutions that create social impact. Currently, I’m working as a Data Science Intern at a non-profit organization, where I’m using data to drive meaningful decision-making. Previously, I interned at a Y Combinator startup and supported early-stage founders at the Berkeley SkyDeck Accelerator. In my free time, I enjoy gardening, playing piano, and finding creative ways to blend technology with everyday life. Feel free to connect with me
            <a href="https://www.linkedin.com/in/smriti-rangarajan/" target="_blank">here</a>.
          </p>
        </div>
      </section>
</body>
</html>